[submodule "software/iniparser"]
	path = lib/iniparser
	url = https://github.com/ndevilla/iniparser.git
[submodule "software/libtp3"]
	path = lib/libtp3
	url = https://github.com/ezfarm-farmcloud/libtp3.git
